@use '../../styles/variables';

.example-container {
  display: grid;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
}

.logo {
  color: white;
  background-color: variables.$primary;
}

.title {
  margin-bottom: 24px;
  text-align: center;
}

mat-form-field {
  margin-bottom: 10px;
}
