<div
  *ngIf="userDetails$ | async as details"
  class="container"
>
  <mat-expansion-panel expanded>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Podstawowe informacje
      </mat-panel-title>
      <mat-panel-description>
        Podstawowe informacje o zalogowanym użytkowniku
      </mat-panel-description>
    </mat-expansion-panel-header>
    <app-user-details-display-element
      *ngFor="let item of getUserDetails(details)"
      [key]="item[0]"
      [value]="item[1]"
    >
    </app-user-details-display-element>
  </mat-expansion-panel>
  <mat-expansion-panel
    *ngIf="details.labDetails !== null"
    class="lab-worker-details"
  >
    <mat-expansion-panel-header>
      <mat-panel-title>
        Informacje o laboratorium
      </mat-panel-title>
      <mat-panel-description>
        Informacje o miejscu zatrudnienia
      </mat-panel-description>
    </mat-expansion-panel-header>
    <app-user-details-display-element
      *ngFor="let item of getLabDetails(details.labDetails)"
      [key]="item[0]"
      [value]="item[1]"
    ></app-user-details-display-element>
  </mat-expansion-panel>
</div>
