@use '~@angular/material' as mat;
@import './styles/variables';
@import './styles/text';

html, body {
  height: 100%;
  background-color: $white;
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

mat-label {
  color: $gray;
}

input.mat-input-element {
  color: $gray;
}

mat-icon {
  color: $gray;
}
