@import '~@angular/material';
@import './styles/variables';
@import './styles/text';

html, body {
  height: 100%;
  background-color: $black;
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

mat-label {
  color: $white;
}

input.mat-input-element {
  color: $white;
}

mat-icon {
  color: $white;
}
